* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  background: #ffffff;
  padding: 30px 35px;
  width: 350px;
  border-radius: 25px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
}
label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
  width: 100%;
  padding: 9px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
input[type="radio"] {
  margin-right: 5px;
}
button {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
button:hover {
  background-color: #333;
}
