*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI, sans-serif;
}

body{
background:#0f172a;
color:white;
}

.navbar{
width:100%;
padding:20px;
background:#020617;
text-align:center;
position:fixed;
top:0;
}

.container{
margin:90px auto 0 auto;
width:700px;
text-align:center;
}




.screen{
background:#e5e7eb;
color:black;
padding:10px;
margin:20px 0;
border-radius:5px;
}


/* SEATS */

.seat-container{
display:grid;
grid-template-columns: repeat(10,1fr);
gap:10px;
margin-bottom:20px;
}

.seat{
width:35px;
height:35px;
background:#1f2937;
border-radius:5px;
cursor:pointer;
}

.seat.selected{
background:#ff4d4d;
}

.seat.booked{
background:#6b7280;
cursor:not-allowed;
}


/* SUMMARY */

.summary{
background:#1e293b;
padding:20px;
border-radius:8px;
}

.summary button{
margin-top:15px;
padding:12px;
width:100%;
background:#ff4d4d;
border:none;
border-radius:6px;
color:white;
cursor:pointer;
}

.summary button:hover{
background:#e11d48;
}