body{
background:#0f172a;
color:white;
font-family:Segoe UI, sans-serif;
margin:0;
}

.navbar{
background:#111827;
padding:15px 25px;
font-size:22px;
font-weight:bold;
}

.section-title{
margin:30px;
}

#reviewList{
width:80%;
margin:auto;
}

.review-card{
background:#1f2937;
padding:20px;
margin-bottom:15px;
border-radius:8px;
}

.username{
color:#ff4d4d;
margin-bottom:8px;
}

.review-text{
color:#d1d5db;
line-height:1.5;
}