*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
background:#0f1117;
color:white;
}

.header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 40px;
background:#161b22;
}

.back-btn{
text-decoration:none;
color:#ff4d4d;
}

.container{
display:flex;
justify-content:center;
padding:40px;
}

.movie-form{
width:500px;
background:#161b22;
padding:30px;
border-radius:10px;
}

.input-group{
margin-bottom:20px;
}

label{
display:block;
margin-bottom:6px;
}

input,select,textarea{
width:100%;
padding:10px;
border:none;
border-radius:6px;
background:#0f1117;
color:white;
}

textarea{
height:100px;
resize:none;
}

button{
width:100%;
padding:12px;
background:#ff4d4d;
border:none;
border-radius:6px;
color:white;
cursor:pointer;
}

button:hover{
  background:#e03e3e;
}
