*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
background:#0f1117;
color:white;
}

.header{
display:flex;
justify-content:space-between;
padding:20px 40px;
background:#161b22;
}

.back-btn{
color:#ff4d4d;
text-decoration:none;
}

.container{
display:flex;
gap:40px;
padding:40px;
}

.form-section{
flex:1;
background:#161b22;
padding:30px;
border-radius:10px;
}

.input-group{
margin-bottom:20px;
}

label{
display:block;
margin-bottom:6px;
}

input,select{
width:100%;
padding:10px;
border-radius:6px;
border:none;
background:#0f1117;
color:white;
}

button{
margin-top:10px;
padding:12px;
background:#ff4d4d;
border:none;
border-radius:6px;
color:white;
cursor:pointer;
}

button:hover

.preview-section{
width:320px;
}

.show-card{
background:#161b22;
padding:15px;
border-radius:10px;
}

.show-card img{
width:100%;
border-radius:6px;
margin-bottom:10px;
}

.rating{
position:absolute;
background:#ffc107;
color:black;
padding:3px 8px;
border-radius:4px;
font-size:12px;
}

h4{
margin-bottom:5px;
}

p{
color:#aaa;
}
#movieSearch{
  margin-bottom:10px;
}
